{% extends "layout.html" %}

{% block page %}
  <section>
    {{ page.content_html | safe }}
  </section>
  <section class="projects">
    {% for title in ("Flask", "Quart", "Jinja", "Click", "Werkzeug", "ItsDangerous", "MarkupSafe") %}
      {% set name = title.lower() %}
      <p>
          <a href="projects/{{ name }}" class="contrast">
            <img src="/static/content/projects/{{ name }}-logo.png" style="height: 3em;">
            <strong>{{ title }}</strong>
          </a>
      </p>
    {% endfor %}
  </section>
{% endblock %}
